body {

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
/* video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    object-fit: cover;
    z-index: -1;
} */


 
.point {
    position: relative;
    height:100vh;
    width:100vw;
    overflow: hidden;
  }
  
  .point img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .point img:nth-child(1) {
    animation: fadeInOut 7s infinite;
  }
  
  .point img:nth-child(2) {
    animation: fadeInOut 7s infinite 3s;
  }
  
  .point img:nth-child(3) {
    animation: fadeInOut 7s infinite 6s;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  
  
.point>h1{
    z-index: 99;
    position: fixed;
}

#main {
    z-index:1;
}

.quote {
    text-align: end;
}

header {
    line-height: 90vh;
    font-size: 3vw;
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-align: center;
}

header h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section {
    padding: 40px 0;
}

.features {
    background-color: #fff;
}

.cta {
    background-color: #333333eb;
    margin-top: 3vw;

}
.contain{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
 
button {
    background-color: #fff;
    color: blue;
    padding: 9px 20px;
    margin-top: 3rem;
    border-radius: 2rem;
    cursor: pointer;
}

#cursor {
    height: 5rem;
    width: 5rem;
    z-index: 0;
    background-color: #ff5f83;
    border-radius: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    align-items: center;
}

#cursor h2 {
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 0.1rem;
    color: #232323;
    padding-top: 0.4rem
}

button:hover {
    background-color: #826b6b;
}

.cta p {
    padding-left: 1vw;
}

.sign {
    margin-left: 2vw;
}

.signup {
    margin-top: 35vw;
    padding-left: 2vw;
    background-image: url('https://images.unsplash.com/photo-1697215786004-682b1684c65e?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

strong {
    margin-left: 15rem;
    word-spacing: 2px;
    font-weight: 200;
    font-size: 1.5rem;
    color: transparent;
    -webkit-text-stroke: 1px #333;
    margin-top: 0%;
    letter-spacing: 2px;
}

.btn {
    filter: drop-shadow(4px 4px 8px white);
    letter-spacing: 2px;
    margin: 1vw;
    margin-left: 44vw;
    color: #232323;
    font-size: large;
}

.course {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.img {
    transition: transform ease-in-out 0.2s;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.747);
    object-fit: cover;
    border-radius: 6px;
    font-size: 1vw;
    border: 2px solid #333;
    margin-left: 0.7rem;
    width: 23.4vw;
    height: 50vh;
}

.img:hover {
    transform: scale(1.03);
}

.img img {
    height: 55%;
    width: 100%;
}

.img p1 {
    padding-left: 2px;
}

.feature {
    height: 20rem;
    width: 100vw;
}

.feature h1 {
    padding-top: 2vw;
    padding-left: 1vw;
}

h2 {
    padding-left: 1vw;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.swiper {
    width: 30rem;
    height: 34rem;
    position: absolute;
    left: 43%;
    animation: rotate 4s linear infinite;
    margin-left: -150px;
    margin-top: -80px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 30rem;
}

#beauty {
    background-color: #333;
    margin-top: 7vw;
}

#about {
    color: #fff;
    border-radius: 2px;
    padding-bottom: 0;
}

.contact {
    display: flex;
    flex-direction: row;

}